# First Course
ecole_polytechnique_scala/functional_programming_principles_in_scala/week1/example/project/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/week1/example/project/project/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/week1/example/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/week1/HelloWorld/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/week1/HelloWorld/project/target
ecole_polytechnique_scala/functional_programming_principles_in_scala/week1/project/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/week1/target/

ecole_polytechnique_scala/functional_programming_principles_in_scala/objsets/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/objsets/project/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/objsets/project/project/target/

ecole_polytechnique_scala/functional_programming_principles_in_scala/patmat/project/project/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/patmat/project/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/patmat/target/

ecole_polytechnique_scala/functional_programming_principles_in_scala/forcomp/project/project/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/forcomp/project/target/
ecole_polytechnique_scala/functional_programming_principles_in_scala/forcomp/target/

# Second Course
ecole_polytechnique_scala/big_data_analysis_with_scala_and_spark/stackoverflow/target/
ecole_polytechnique_scala/big_data_analysis_with_scala_and_spark/stackoverflow/project/target/
ecole_polytechnique_scala/big_data_analysis_with_scala_and_spark/stackoverflow/project/project/target/
ecole_polytechnique_scala/big_data_analysis_with_scala_and_spark/stackoverflow/src/main/resources/stackoverflow/


