# First Course
scala/functional_programming/week1/example/project/target/
scala/functional_programming/week1/example/project/project/target/
scala/functional_programming/week1/example/target/
scala/functional_programming/week1/HelloWorld/target/
scala/functional_programming/week1/HelloWorld/project/target
scala/functional_programming/week1/project/target/
scala/functional_programming/week1/target/

scala/functional_programming/objsets/target/
scala/functional_programming/objsets/project/target/
scala/functional_programming/objsets/project/project/target/

scala/functional_programming/patmat/project/project/target/
scala/functional_programming/patmat/project/target/
scala/functional_programming/patmat/target/

scala/functional_programming/forcomp/project/project/target/
scala/functional_programming/forcomp/project/target/
scala/functional_programming/forcomp/target/

# Second Course
scala/spark/stackoverflow/target/
scala/spark/stackoverflow/project/target/
scala/spark/stackoverflow/project/project/target/
scala/spark/stackoverflow/src/main/resources/stackoverflow/


