# First Course
Functional_Programming_Principles_in_Scala/week1/example/project/target/
Functional_Programming_Principles_in_Scala/week1/example/project/project/target/
Functional_Programming_Principles_in_Scala/week1/example/target/
Functional_Programming_Principles_in_Scala/week1/HelloWorld/target/
Functional_Programming_Principles_in_Scala/week1/HelloWorld/project/target
Functional_Programming_Principles_in_Scala/week1/project/target/
Functional_Programming_Principles_in_Scala/week1/target/

Functional_Programming_Principles_in_Scala/objsets/target/
Functional_Programming_Principles_in_Scala/objsets/project/target/
Functional_Programming_Principles_in_Scala/objsets/project/project/target/

Functional_Programming_Principles_in_Scala/patmat/project/project/target/
Functional_Programming_Principles_in_Scala/patmat/project/target/
Functional_Programming_Principles_in_Scala/patmat/target/

Functional_Programming_Principles_in_Scala/forcomp/project/project/target/
Functional_Programming_Principles_in_Scala/forcomp/project/target/
Functional_Programming_Principles_in_Scala/forcomp/target/

# Second Course
Big_Data_Analysis_with_Scala_and_Spark/stackoverflow/target/
Big_Data_Analysis_with_Scala_and_Spark/stackoverflow/project/target/
Big_Data_Analysis_with_Scala_and_Spark/stackoverflow/project/project/target/
Big_Data_Analysis_with_Scala_and_Spark/stackoverflow/src/main/resources/stackoverflow/


